---
import menu from '../menu.json';
---

<section class="section" id="menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 text-center">
        <div class="section-heading">
          <h1 class="fancy">Catering Menu</h1>
        </div>
      </div>
    </div>
    {menu.map((section) => (
      <>
        <h3 class="mb-3 mt-5">{section.title}</h3>
        <ul>
          {section.items.map((item) => (
            <li>
              <strong>{item.title}</strong>
              {item.desc}
            </li>
          ))}
        </ul>
      </>
    ))}
    <!-- {% for section in site.data.menu %}
    <h3 class="mb-3 mt-5">{{section.title}}</h3>
    <ul>
      {% for item in section.items %}
        <li>
          <strong>{{item.title}}</strong>
          {{item.desc}}
        </li>
        {% endfor %}
    </ul>
    {% endfor %} -->
    <div class="mt-5">
      ***Lilly May’s works to use local vendors and products whenever possible.
      Therefore all menu items listed are subject to change based on seasonality
      and availability.
      <br />
      ***Inquiries for events of 20 or more people made less than a month before
      the event date will automatically have a 15% rush order fee added to the Invoice.
    </div>
  </div>
</section>
