---
import config from "../config.json";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-STZLXY5HXK"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () {
        window.dataLayer.push(arguments);
      };
      gtag("js", new Date());
      gtag("config", "G-STZLXY5HXK");
    </script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{title} - {config.title}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content={config.description} />
    <meta name="author" content="Lilly May's Desserts" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo"> Lilly May's </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/#top" class="active">Home</a>
                </li>
                <li class="scroll-to-section"><a href="/#about">About</a></li>
                <li class="scroll-to-section">
                  <a href="/#testimonials">Reviews</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/#grid">Gallery</a>
                </li>
                <li><a href="/menu">Menu</a></li>
                <li class="scroll-to-section">
                  <a href="/#reservation">Contact Us</a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <slot />
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-12">
            <div class="right-text-content">
              <ul class="social-icons">
                <li>
                  <a href={config.links.etsy}><i class="fab fa-etsy"></i></a>
                </li>
                <li>
                  <a href={config.links.facebook}
                    ><i class="fab fa-facebook-f"></i></a
                  >
                </li>
                <li>
                  <a href={config.links.instagram}
                    ><i class="fab fa-instagram"></i></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4 col-xs-12">
            <div class="left-text-content">
              <p>© Copyright Lilly May's LLC.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script is:inline src="/js/jquery.min.js"></script>

    <!-- Plugins -->
    <script is:inline src="/js/scrollreveal.min.js"></script>

    <!-- Global Init -->
    <script is:inline src="/js/custom.js"></script>
  </body>
</html>
